<div class="post_list col-12  mb-3  d-flex flex-wrap d-grid gap-5 justify-content-center">
  <% posts.each do |post| %>
   <% if post.user.is_deleted == false %>
     <div class="post shadow-lg text-center color">
      <%= link_to post_path(post.id),data: {"turbolinks" => false} do %>
        <%= image_tag post.get_image,class: "image_index", size:'300x300'%>
      <% end %>
      <p><strong><%= post.title %></strong></p>
      <p class="float"><i class="far fa-comment-alt"></i><%= link_to " #{post.post_comments.count} ", post_path(post.id) %>
        &nbsp;<i class="far fa-heart"></i><%= link_to " #{post.likes.count} ", post_path(post.id) %>
      </p>
      <p class="small"><%= l post.created_at %></p>
     </div>
   <% end %>
  <% end %>
</div>
<div class="pagination">
  <%= paginate posts %>
</div>
