<div class="col-md-9 col-sm-12 mx-auto">
  <div class="background shadow  my-4 p-5">
    <h4 class="text-center col-md-6 top1 mx-auto my-4"><i class="fa-solid fa-book"></i> 投稿詳細</h4>
    <div class="text-center">
      <div>
          <%= link_to user_path(post.user),class: "text-dark link float" do %>
          <%= image_tag post.user.get_profile_image, class: "comment-user-image float", size: '100x100'%>
           &ensp;<%= post.user.name %>&ensp;
          <% end %>
        </div>
        <p>投稿日時: <%= l post.created_at %></p>
    </div>
    <div class="d-flex flex-wrap">
      <div class="col-12 mx-auto text-center">
        <% if post.images.attached? %>
        <div style="width: 700px;">
          <p><strong>Image:</strong></p>
          <% post.images.each do |image| %>
            <%= image_tag image, class: "post_image my-3  shadow-lg", size: '300x300'%>
          <% end %>
        </div>
        <% else %>
          <%# image_tag post.get_no_post_image,class: "post_image my-3  shadow-lg", size: '300x300'%>
           <%= image_tag 'no_post_image.jpg' %>
        <% end %>
      </div>





      <div class="col-9 text-center mx-auto">
        <h5>タイトル</h5>
        <p><%= post.title %></p>
        <h5>本文</h5>
        <div class="post_show">
          <p><%= render_with_tags(simple_format(post.explaination))%></p>
        </div>

        <p class="like-btn"><%= render 'public/likes/btn', post: post %></p>
      </div>
    </div>

    <div class="text-center">
    <% if post.user == current_user %>
      <%= link_to '編集', edit_post_path, class: 'btn btn-primary w-50'%>
    <% end %>
    </div>
  </div>
</div>

