  <div class="background shadow my-4 py-5 px-3">
    <h4 class="text-center col-md-6 top1 mx-auto my-4"><i class="fa-solid fa-book"></i> 投稿詳細</h4>
    <div class="text-center">
      <div>
          <%= link_to user_path(post.user),class: "text-dark link float" do %>
          <%= image_tag post.user.get_profile_image, class: "comment-user-image float", size: '100x100'%>
           &ensp;<%= post.user.name %>&ensp;
          <% end %>
        </div>
        <p>投稿日時: <%= l post.created_at %></p>
    </div>

    <% if post.images.attached? %>
    <div class="my-3 col-md-6 mx-auto">
      <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel" >
        <div class="carousel-inner">
          <% post.images.each_with_index do |image, i| %>
            <div class="carousel-item <%= "active" if i == 0 %>" data-bs-interval="5000">
              <%= image_tag image, class: "post_image_new"%>
            </div>
          <% end %>
        </div>
        <% if post.images.size > 1 %>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    </div>
    <% else %>
    <div class="col-md-4 col-lg-6 mx-auto my-3 text-center" >
      <%= image_tag 'no_post_image.jpg', size: '270x300' %>
    </div>
    <% end %>

    <div class="text-center mx-auto">
      <h5>タイトル</h5>
      <p><%= post.title %></p>
      <h5>本文</h5>
      <div class="post_show">
        <p><%= render_with_tags(simple_format(post.explaination))%></p>
      </div>
      <p class="like-btn"><%= render 'public/likes/btn', post: post %></p>
    </div>
    <div class="text-center">
    <% if post.user == current_user%>
      <%= link_to '編集', edit_post_path(post), class: 'btn btn-primary w-50'%>
    <% end %>
    </div>
  </div>
</div>













