<div class="container">
  <div class="row">
    <div class="form  col-md-9 col-sm-11 mt-5  py-4 mx-auto background shadow">
      <div class="col-md-8 text-center mx-auto">
        <h4 class="text-center col-md-7 top1 mx-auto my-4"><i class="fas fa-users-cog"></i> 管理者ログイン</h4>
        <%= form_with model: resource, url: admin_session_path do |f| %>
        <div class="col-5 mx-auto">
          <div class="field mt-4">
            <p class="mb-2"><%= f.label :メールアドレス%></p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: 'form-control'%>
          </div>

          <div class="field mt-4">
            <p class="mb-2"><%= f.label :パスワード%></p>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'form-control'%>
          </div>

          <div class="actions mt-4">
            <%= f.submit "ログイン",class: "btn btn-primary w-100" %>
          </div>
        </div>
        <div class="my-5"></div>
        <% end %>
      </div>
    </div>

  </div>
</div>
