<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-10 mx-auto">
      <% if @user == current_user  %>
        <h4 class="my-4 text-center col-md-7 top1 mx-auto my-4"><i class="fas fa-user-friends"></i> フォローしている人の一覧(<%= @users.count %>人)</h4>
      <% else %>
        <h4 class="my-4 text-center col-md-7 top1 mx-auto my-4"><i class="fas fa-user-friends"></i><%= @user.name %> さんがフォローしている人(<%= @users.count %>人)</h4>
      <% end %>
      <% if @users.exists? %>
      <% @users.each do |user| %>
      <div>
        <table class="table background shadow text-center align-middle">
          <thead>
            <tr>
              <th width="20%">image</th>
              <th>name</th>
              <th>follow</th>
              <th>follower</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= image_tag user.get_profile_image,class: "comment-user-image", size: '100x100'%></td>
              <td><%= user.name %></td>
              <td><%= user.followings.count %></td>
              <td><%= user.followers.count %></td>
            </tr>
            <tr>
              <td><%= link_to '詳細へ', user, class: 'btn btn-primary' %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>
<div class="pagination">
 <%= paginate @users %>
</div>