<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-11 mx-auto">
      <h4 class="my-4 text-center col-md-7 top1 mx-auto my-4"><i class="fas fa-user-friends"></i><%= @user.name %> さんのフォロワー (<%= @users.count %>人)</h4>
      <% if @users.exists? %>
      <% @users.each do |user| %>
      <div class="user_index mt-4">
        <table class="table background shadow text-center align-middle ">
          <thead>
            <tr class="text-center">
              <th width="20%">画像</th>
              <th>名前</th>
              <th>フォロー</th>
              <th>フォロワー</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td> <%= image_tag user.get_profile_image, size: '120x120' %></td>
              <td><%= user.name %></td>
              <td><%= user.followings.count %></td>
              <td><%= user.followers.count %></td>
            </tr>
            <tr>
              <td><%= link_to 'ユーザー詳細ページへ', admin_user_path(user), class: 'btn btn-primary px-3' %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>
<div class="pagination">
 <%= paginate @users %>
</div>