<div class="post_list col-12 mb-3 d-flex flex-wrap d-grid gap-5 justify-content-center">
  <% posts.each do |post| %>
    <div class="post shadow-lg text-center color">
     <%= link_to admin_user_post_path(post.user, post) do %>

       <% if post.images.attached? %>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="width: 300px; height: 300px;">
              <div class="carousel-inner">
                <% post.images.each_with_index do |image, i| %>
                  <div class="carousel-item <%= "active" if i == 0 %>" data-bs-interval="5000">
                    <%= image_tag image, class: "post_image ", size: '300x300'%>
                  </div>
                <% end %>
              </div>
              <% if post.images.size > 1 %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              <% end %>
            </div>
          <% else %>
          <div>
            <%= image_tag 'no_post_image.jpg', size: '300x300' %>
          </div>
          <% end %>
     <% end %>
     <p><strong><%= post.title %></strong></p>
     <p class="float"><i class="far fa-comment-alt"></i><%= link_to " #{post.post_comments.count} ", post_path(post.id) %></p>
     <p class="small"><%= l post.created_at %></p>
    </div>
  <% end %>
</div>
<div class="col-md-3 col-sm-5 ms-auto my-3"><%= link_to 'ユーザー詳細画面に戻る', admin_user_path(@user.id) , class: 'btn btn-success '%></div>
<div class="pagination">
  <%= paginate posts %>
</div>






     <%#= image_tag post.get_image,class:"image_index", size:'300x300'%>
