<div class="post_list">
  <% posts.each do |post| %>
    <div class="post">
     <%= link_to admin_user_post_path(post.user, post) do %>
     <%= image_tag post.get_image,class:"image_index"%>
     <% end %>
     <p><strong><%= post.title %></strong></p>
     <p><i class="far fa-comment-alt"></i><%= link_to " #{post.post_comments.count} ", post_path(post.id) %></p>
    </div>
  <% end %>
<div class="pagination">
  <%= paginate posts %>
</div>