<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 mx-auto">
      <div class="background shadow  my-4 p-5 text-center">
        <h4 class="col-md-6 top1 mx-auto my-4">投稿詳細</h4>
        <div class="post_show col-md-8 mx-auto">
          <p class="small">投稿日時: <%= l @post.created_at %></p>
          <% if @post.images.attached? %>
            <div id="carouselExampleInterval" class="carousel slide mx-auto mb-3" data-bs-ride="carousel" style="width: 300px; height: 300px;">
              <div class="carousel-inner">
                <% @post.images.each_with_index do |image, i| %>
                  <div class="carousel-item <%= "active" if i == 0 %>" data-bs-interval="5000">
                    <%= image_tag image, class: "post_image ", size: '300x300'%>
                  </div>
                <% end %>
              </div>
              <% if @post.images.size > 1 %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              <% end %>
            </div>
          <% else %>
            <p><%= image_tag 'no_post_image.jpg', size: '300x300' %></p>
          <% end %>
          <h5>タイトル</h5>
          <p><%= @post.title %></p>
          <h5>本文</h5>
          <div class="post_show">
            <p><%= render_with_tags(@post.explaination) %></p>
          </div>
        </div>

        <div class="d-flex my-5 justify-content-around">
          <div><%= link_to '削除', admin_user_post_path(@post.user, @post), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"},class: 'btn btn-danger px-5'%></div>
          <div class="ms-3"><%= link_to '投稿一覧ページに戻る', admin_user_posts_path, class: 'btn btn-success '%></div>
        </div>
      </div>
    </div>
  </div>
</div>



