<h2>新規登録</h2>

<%= form_with model: resource, url: user_registration_path do |f| %>
  <%= render "publics/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "あなたのメールアドレスを入力してください" %>
  </div>
  <div class="field">
    <%= f.label : 名前（20文字以内）%><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name", placeholder: "あなたのお名前を入力してください" %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br />
    <%= f.country_select :country_code, {include_blank: "選択して下さい"}, class: 'form-select' %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction, :placeholder => "よろしくお願いします。", class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)"%>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<div class="sign_up">
  <p>登録済みの方</p>
  <%= render "public/shared/links" %>
</div>