<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-3">
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
    <div class="sign_up col-md-8 mx-auto text-center mt-5 py-3 logo shadow">
      <h4 class="my-3"><i class="fas fa-user-plus"></i> 新規登録</h4>
      <%= form_with model: resource, url: user_registration_path do |f| %>
        <div class="field　mt-3">
          <i class="fa-solid fa-signature"></i> <%= f.label :名前（20文字以内）, class: "form-label" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "あなたのお名前を入力してください", class: "form-control w-50 mx-auto" %>
        </div>
        <div class="field mt-3">
          <i class="fa-solid fa-earth-americas"></i> <%= f.label :国籍 %><br />
            <%= f.country_select :country_code, {include_blank: "選択して下さい"}, class: 'form-select form-control w-50 mx-auto mt-2' %>

        </div>
        <div class="field mt-3">
          <i class="fas fa-envelope"></i> <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "あなたのメールアドレスを入力してください" , class: "form-control w-50 mx-auto mt-2"%>
        </div>
         <div class="field mt-3">
          <i class="fa-solid fa-comment"></i> <%= f.label :自己紹介文 %><br />
          <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", placeholder: "自己紹介文を入力してください", class: "form-control w-50 mx-auto mt-2" %>
        </div>
        <div class="field mt-3">
          <i class="fas fa-lock"></i> <%= f.label :"パスワード", class: "form-label "%>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
          <% end %><br />
        </div>
        <div class="field mt-3">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力", class: "form-control w-50 mx-auto"%>
        </div>
        <div class="field mt-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "パスワード(確認用)", class: "form-control w-50 mx-auto"%>
        </div>
        <div class="actions my-4">
          <%= f.submit "新規登録", class: "btn btn-dark w-50" %>
        </div>
      <% end %>
    </div>
    <div class="sign_up sign_up col-md-8 mx-auto text-center mt-4 py-4 background shadow">
     <p class="m-3">登録済みの方</p>
       <%= render "public/shared/links" %>
    </div>
  </div>
</div>