<div class ="container" >
  <div class="row">
    <div class="col-md-12 ">
      <h4 class="col-md-6 top1 mx-auto my-4 text-center"><i class="far fa-comment-alt"></i>　<b><%=@user.name%></b> さんのコメント一覧(<%= @user.post_comments.count %>件)</h4>
      <div class="col-md-9 mx-auto background shadow  my-4 p-5 ">
      <% @comments.each do |comment| %>
        <div class="d-flex my-2">
          <div><%= comment.comment %><br><%= comment.created_at %></div>
          <div class="m-3"><%= link_to '削除', admin_user_post_comments_path(comment.user, comment), method: :delete, data: {confirm: "本当に削除しますか？"},class: 'btn btn-danger px-3' %></div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-md3 col-sm-5 ms-auto my-3"><%= link_to 'ユーザー詳細画面に戻る', admin_user_path(@user.id) , class: 'btn btn-success '%></div>
    <div class="pagination">
     <%= paginate @comments %>
    </div>
  </div>
</div>