<div class="container py-3 px-5">
  <div class="row d-flex flex-column align-content-center">
    <div class="col-lg-5 mx-3 ">
      <div class="login">
      <h4 class="text-center"><i class="fas fa-sign-in-alt"></i> ログイン</h4>
      <%= form_with model: resource, url: user_session_path do |f| %>
        <div class="field mt-4">
          <span><i class="fas fa-envelope"></i></span> <%= f.label :"メールアドレス"%><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
        </div>

        <div class="field mt-3">
          <span><i class="fas fa-lock"></i></span> <%= f.label :password %><br>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
        </div>

        <div class="actions mt-4">
          <%= f.submit "ログイン", class: "btn btn-outline-primary w-50" %>
        </div>
      <% end %>
      </div>
      <div class="login">
        <p class="mt-3">アカウントをお持ちでない方</p>
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>