<div class="col-md-8 mt-3">
<h5 class="my-3 text-center"><i class="fas fa-pencil-alt"></i> <%= user.name %>さんの投稿(<%= posts.count %>件)</h5>
  <div class="post_list mb-3">
    <% posts.each do |post| %>
    <div class="post">
      <%= link_to post_path(post.id),data: {"turbolinks" => false} do %>
       <%= image_tag post.get_image,class: "image_index"%>
      <% end %>
      <p><%= post.title %></p>
      <p><i class="far fa-comment-alt"></i><%= link_to " #{post.comments.count} ", post_path(post.id) %></p>
    </div>
    <% end %>
  </div>
  <div class="pagination">
   <%= paginate posts %>
  </div>
</div>

